@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --cor-de-secoes: #b3cbb9;
    --cor-de-secoes-mais-escuro: #73a180;
    --cor-mais-escura: #3a4e48;
    --cor-principal: #ffb500;
    --cor-de-destaque: #c84630;
    --cor-azul-leve: #6290C3;
    --branco: white;
    --preto-transparente: rgba(0, 0, 0, 0.6);
    --fonte-de-titulo: Poppins;
    --fonte-de-texto: Mukta;
    --swiper-pagination-bullet-widht: 12px;
    --swiper-pagination-bullet-size: 12px;
}

body{
    background-color: var(--cor-de-secoes);
}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 2.1875rem;
    color: var(--branco);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    background-color: var(--preto-transparente);
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    border-radius: 20px;
    padding: 15px;
    z-index: 3;
}

.logo-container{
    padding: 15px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaço entre os itens */
}

.logo-img{
    width: 30px; /* Tamanho do logo */
    margin-right: 20px; /* Espaçamento da imagem da logo com o texto */
}

.logo{
    text-decoration: none; /* Remove sublinhado do link */
    color: var(--branco); /* Cor do texto */
    display: flex; /* Permite alinhar elementos internos */
    align-items: center; /* Centraliza verticalmente */
    font-size: 1.3rem;
    font-family: var(--fonte-de-titulo);
    font-weight: bold;
}

.menu-links{
    display: block;
    overflow-y: hidden;
    height: 0px;
    transition: height .3s ease;
}

.menu-links.abriu{
    height: 195px;
}

ul>li{
    margin: 10px 0px 10px 20px;
}

ul>li>a{
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-de-texto);
    font-size: 1.2rem;
}

a.botao-inscricao{
    padding: 5px 20px;
    border-radius: 25px;
    border: solid 1px;
}

section#principal {
    height: 101dvh; /* Ajuste a altura da seção conforme necessário */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(../images/slides/arquibancada-reduzida.JPG);
    background-repeat: no-repeat;
    animation: anim-slide 5s forwards;
}

@keyframes anim-slide{
    0%{
        background-position: left center;
    }
    100%{
        background-position: center center;
    }
}

section#principal .div-principal{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#principal a{
    font-family: var(--fonte-de-titulo);
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--cor-principal);
}

.conteudo-principal{
    background-color: var(--preto-transparente);
    margin: auto;
    border-radius: 20px;
    font-size: 1rem;
    width: 90%;
}

div.conteudo-principal>p{
    display: flex;
    justify-content: center;
    font-family: var(--fonte-de-texto);
    color: white;
    font-size: 1.2rem;
    margin-bottom: 5px;
    
}

#cowntdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: auto;
    height: auto;
    line-height: 1;
    padding-bottom: 20px;
    font-family: var(--fonte-de-texto);
}

.text{
    font-size: 1.3rem;
    margin: 1rem 1.5rem;
}

.titulo-parte-principal{
    font-family: var(--fonte-de-titulo);
    color: var(--branco);
    display: flex;
    justify-content: center;
}

.texto-parte-principal{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--branco);
    font-family: var(--fonte-de-texto);
}

.countdown-el{
    text-align: center;
}

.swiper-slide>img{
    height: 100%;
    width: 100%;
}

.swiper{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
    border-radius: 40px;
    width: 90vw;
    margin: auto;
}

.swiper-button-next, .swiper-button-prev{
    opacity: 0;
}

#eventos-anteriores{
    background-color: var(--cor-de-secoes-mais-escuro);
    /*background: linear-gradient(#a77700 0%, #c78f00 70%, var(--cor-principal)100%);*/
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#eventos-anteriores h1{
    font-family: var(--fonte-de-titulo);
    font-size: 1.6rem;
    margin: auto 0px 0px 0px;
    color: white;
}

.swiper-pagination-bullet{
    width: 40px;
    height: 40px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--cor-azul-leve);
}

section#sobre{
    background-color: var(--cor-mais-escura);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#sobre div{
    margin: 3dvh 0px;
    width: 90vw;
    border-radius: 30px;
    height: 50dvh;
    background: linear-gradient(var(--cor-mais-escura)0%, #4c685f 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#sobre>div.hidden{
    transform: translateX(-100%);
    transition: all 2s ease;
}

section#sobre>p.hidden{
    transform: translateX(-100%);
    transition: all 2s ease;
}

section#sobre>div.hidden.show{
    translate: 100%;
}

section#sobre>p.hidden.show{
    translate: 100%;
}

section#sobre>div h2, h3{
    color: white;
    margin: 10px;
    font-family: var(--fonte-de-titulo);
    font-size: 1.3rem;
}

section#sobre p{
    font-family: var(--fonte-de-texto);
    color: white;
    font-size: 1.2rem;
    width: 90vw;
    margin: auto 0px 2em 0px;
}

footer{
    color: white;
    bottom: 0px;
    background-color: var(--cor-mais-escura);
}

footer div{
    padding: 1em 0px 0px 1em;
}

footer img{
    padding: .5em;
}

footer p{
    padding: .1em 1em 1em;
    font-family: var(--fonte-de-texto);
    font-size: 1.2rem;
}

.hidden{
    opacity: 1;
    filter: blur(10px);
    transition: ALL 2s;
}

.show{
    opacity: 1;
    filter: blur(0px);

}